

.body{
    font-family: 'Poppins', sans-serif;
    background: #003844;
}

/* NAVIGATIONS HERE */

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.innerWrapper {
	max-width: 920px;
	margin: 0 auto;
}

/* NAV SECTION */

.companyName {
	padding: 21px 10px 20px 5%;
	margin: 0;
	float: left;
	color: #fff;
	width: 45%;
	background:#000000;
	font-family: 'Josefin Sans', sans-serif;
  	font-weight: 600;
	font-size: 2rem;
	text-align: left;
	font-variant: small-caps;
	height:78.9px ;
}

nav {
	padding: 0;
	margin: 0;
	width: 55%;
	float: right;
	height: 78.9px;
}


header nav ul {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 100%;
}

header nav ul li {
	float: left;
	margin: 0;
	display: inline;
	width: 25%;
	text-align: center;
	background:#000000;
	background-color: #000000;
}

header nav ul li:hover {
	background-color: #003844;
	font-style: bold;
	transform: scale(1.2);
}

header nav ul li a {
	text-decoration: none;
	padding: 26px 10px;
	color: #fff;
	margin: 0;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.12rem;
}

header nav ul li a:focus {
	outline: none;
}

/* HEAD SECTION */

header {
	background-color:#587B7F;
  	height: 78.9px;
	opacity: 95%;
}



@media (max-width:900px) {
  .companyName {
    width: 100%;
    text-align: center;
    padding: 4% 4%;
  }
  
 .mainNav {
    width: 100%;
  }
  

  
  header nav ul li a {
    padding: 25px 2%;
  }
}


/* Recent ARTWORKS */

.recent{
	color: #fff;
	text-align: center;
	padding-top: 80px;
	height: 1020px;
}

.recent-arts{
	opacity: 60%;
	padding-top: 10px;
}
 
/* ABOUT THE ARTIST */

.about{
	color: #fff;
	text-align: center;
	height: 1020px;
	padding-top: 120px;
	
}
.about-the{
	opacity: 60%;
}

/* -------------- */

.carousel-inner{
	width: 500px;
	height: 90%;
	align-items: center;
}

.carousel slide{
	transition: 0.1s;
}
.carousel-text{
	background-color:#587B7F;
	padding-top: 10px;
	padding-bottom: 2px;
}

.carousel-indicators{
	align-items: center;
	top: 780px;
	height: 10px;
}


/* Nothing but ARTS */

.arts{
	text-align: center;
	color: #fff;
	padding-top: 30px;
	opacity: 60%;
}

/* Cards */

.card-body{
	background-color: #050505;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	opacity: 80%;
	
}

.card-title{
	text-align: center;
	font-size: 1.2rem;
	color: #ffffff;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.3rem;
	font-weight: 500;
	opacity: 80%;
	
	
}

.card{
	background: none;
	background-blend-mode:hue;
	border: #003844;
	border-spacing: 4px;
	padding-bottom: 10px;
	padding-top: 30px;
}

.card-img-top{
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .2s ease;
	backface-visibility: hidden;
}

/* Footer Here */

.footer{
	background-color: #000000;
	margin-top: 50px;
	height: 50px;
	color: #fff;
	opacity: 80%;
}

.copyright-text{
	font-size: 0.90rem;
	text-align: center;
	padding-top: 15px;
}

.yupow{
	color: #fff;
	font-style: none;
	text-decoration-style: none;
	text-decoration:none
}
