*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgb(123, 199, 223);
}
.KWM{
    font-size: 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color:aliceblue;
}
.hero{
    background-image: url("Images/dev3.jpg");
    color: #ffffff;
    font-size: 10px;
 
}

.navigate{
    font-size: 28px;
    margin-bottom: 0;
    font-weight: 600;
    text-decoration-color: black;
}
/*--blog-------------------------------------------------*/
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: rgb(43, 71, 228);
}
.blog-heading h3{
    font-size: 2.4rem;
    color:rgb(34, 34, 34);
    font-weight: 600;

}
.blog-img{
    margin: 20px;
    
}

#center {  
width: 400px;  
height: 450px;   
object-fit:cover;
object-position: center top;
padding-left: 50px;

}

#center1 {  
    width: 480;  
    height: 480px;     
    object-fit:fill;
    object-position: center;
    padding-left: px;
   
}
#center2 {  
    width: 480;  
    height: 480px;     
    object-fit:fill;
    object-position: center;
    padding-left: px;
}
.footer{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-bottom: 0px;
}
.gfblog{
    font-size: 18px;
    word-wrap:normal;
    word-spacing: 3%;
}